
#vim
*.swp
*~

XbeeZBS2Test/step100ms.xlsx
XbeeZBS2Test/log.txt
*.dat
*.mat
*.txt
*.7z
*.zip
*.pyc
*.log
materials/

workspace/
workspace_py/
documents-export-2015-06-25/

*.npz
*.m
*.slx
*.ipynb

*.bmp
*.png

*.mp4
